ADWATCH_DATA_DIR=./var
ZINIAO_TIKTOK_STORE_ID=
ZINIAO_TIKTOK_STORE_NAME=
ZINIAO_SHOPEE_STORE_ID=
ZINIAO_SHOPEE_STORE_NAME=
FEISHU_WEBHOOK=
FEISHU_CALLBACK_SECRET=
FEISHU_CALLBACK_PUBLIC_URL=
TIKTOK_API_OAUTH=
SHOPEE_API_OAUTH=
ADWATCH_LIVE_WRITES=false
ADWATCH_LIVE_ALLOWLIST=
